<button mat-fab color="primary" class="task-add-btn" matTooltip="Add Task" matTooltipHideDelay="1000" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

<mat-card *ngFor="let task of allTasks" class="task-card">

    <h3> {{ task.header }} </h3> <br> {{ task.dueDate }}
    <br> {{ task.user }}
    <br> {{ task.description }}
    <div>
        <button class="delete-btn" mat-fab color="warn" aria-label="delete task" (click)="openDialogDelete(task.taskID)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>



</mat-card>